.root {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

/*Changing scroll bar style*/
.scroll-bar .thumb{
	-fx-background-color: derive(black,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 0em;
}

.scroll-bar:hover .thumb,
.scroll-bar:pressed .thumb {
	-fx-background-color: derive(black,75%);
}

/* Hiding buttons of scroll bar */
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
	-fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;
}
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
	-fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-shape: " ";
	-fx-padding:0;
}

/* Making from round items square items */
.tab-header-area .tab,
.titled-pane .title,
.toggle-button, .button {
	-fx-background-radius: 0em;
}

/* Tab area */
.tab-header-area .tab {
	-fx-border-style: hidden solid hidden solid;
	-fx-border-color: #B9B9B9;
	-fx-background-color: #DBDBDB;
	-fx-padding: 0 5 3 5;
}

.tab-pane .tab-header-area {
	-fx-padding: 0 0 0 0;
}

.tab-header-area .tab:selected {
	-fx-border-style: hidden solid solid solid;
	-fx-border-color: #B9B9B9 #B9B9B9 #EFEFEF #B9B9B9;
	-fx-background-color: #EFEFEF;
}

.tab-pane .tool-bar {
	-fx-background-color: #EFEFEF;
	-fx-border-color: #EFEFEF #EFEFEF #B9B9B9 #B9B9B9;
}

/* Left boxes */
.titled-pane .title {
	-fx-background-color: #EAEAEA;
	-fx-border-style: solid hidden solid hidden;
	-fx-border-color: #C6C6C6;
}

.titled-pane .content {
	-fx-padding: 0;
	-fx-border-style: hidden;
}

/* Handling tabs colours, borders etc. */
.tab-pane .scroll-pane {
	-fx-border-style: hidden hidden hidden solid;
	-fx-border-color: #B9B9B9;
	-fx-padding: 0;
}

.tab-pane .scroll-pane .viewport {
	-fx-background-color: #FFF;
}

/* Colour of menu bar */
.menu-bar {
	-fx-background-color: #F2F2F2;
}

/* Drop box of menu items */
.context-menu {
	-fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
	-fx-min-width: 100;
	-fx-background-color: white;
}

/* Resizable lines between boxes */
.split-pane-divider {
	-fx-pref-width: 1px;
	-fx-background-color: #BABABA;
}

/* Buttons */
.toggle-button, .button {
	-fx-background-color: #EFEFEF;
	-fx-border-style: solid;
	-fx-border-color: #C6C6C6;
}

.toggle-button:selected,
.button:pressed {
	-fx-border-color: #0096d2;
}

.vbox_right {
	-fx-border-style: solid hidden hidden solid;
	-fx-border-color: #BABABA;
	-fx-border-width: 1px;
}
